
###########################################
#
# Files
#
###########################################


node_modules/



# ignore personal notes
PersonalNotes.*

experimentation/

#Ignore server config file
app.config.ts



